.map-container-navbar {
  background: white;
  padding: 0px;
  flex-shrink: 0;
}

.map-task-navigation {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.task-active {
  border-bottom: 2px solid #144465;
  color: #144465 !important;
  font-weight: bold;
}

.map-task-navigation {
  display: flex;
}

.map-task-navigation-item {
  color: lightgray;
  padding: 10px 15px;
  cursor: pointer;
  white-space: nowrap;
  position: relative;
  flex: 1;
  text-align: center;

  &::before {
    position: absolute;
    top: 50%;
    left: 100%;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-top: -6px;
    margin-left: -18px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: none;
    border-left: none;
    transform: rotate(45deg);
    content: '';
  }
}

.no-padding {
  padding: 0 !important;
}
