.map-container-navbar {
  background: white;
  padding: 0px;
  flex-shrink: 0;
}

.map-task-navigation {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.task-active {
  border-bottom: 2px solid #144465;
  color: #144465 !important;
  font-weight: bold;
}

.map-task-navigation-item {
  color: lightgray;
  padding: 10px 15px;
  cursor: pointer;
  white-space: nowrap;
  &::after {
    content: '>';
    margin-left: 10px;
  }
}

.no-padding {
  padding: 0 !important;
}
