.map-finance-section {
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.map-finance-top-section {
  flex: 1;
  overflow-y: scroll;
  margin-top: 1rem;
}

.map-finance-bottom-section {
  height: auto;
  margin-bottom: 1rem;
}
