html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  & .App {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.mt20 {
  margin-top: 20px;
}

.mb10 {
  margin-bottom: 10px;
}

.ml10 {
  margin-left: 10px;
}

.ml20 {
  margin-left: 20px;
}

.ml30 {
  margin-left: 30px;
}

.txt-center {
  text-align: center;
}

.font-label-sm {
  font-size: 13px;
}

.mauto {
  margin: auto !important;
}

.h-100 {
  height: 100vh;
}

.h-40 {
  height: 40vh;
  overflow: scroll;
}

i {
  font-style: italic;
}
