html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  & .App {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

.form-control {
  &:focus {
    box-shadow: none;
  }
}

i {
  font-style: italic;
}

input:read-only {
  cursor: default;
  background-color: var(--bs-tertiary-bg);

  &:focus {
    background-color: var(--bs-tertiary-bg);
    border-color: inherit;
  }
}
